<!-- Start Footer Top Area -->
<footer class="footer-top-area pt-100 pb-70 jarallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-widget contact">
                    <h3>Contact Us</h3>

                    <ul>
                        <li class="pl-0">
                            <a href="tel:Phone:+91-6366232261">
                                <i class="bx bx-phone-call"></i>
                               
                                Phone: +91-6366232261 (BLR)
                            </a>
                            <a href="tel:Phone:+91-6366232262">
                                <i class="bx bx-phone-call"></i>
                             
                                Phone: +91-6366232262 (LKO) 
                            </a>
                        </li>
                        
                        <li class="pl-0">
                            <a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#4e262b2222210e3d2b253b602d2123">
                                <i class="bx bx-envelope"></i>
                                <span>Email:</span> 
                                <span class="__cf_email__" data-cfemail="6a020f0606052a190f011f44090507">info@spidervella.com</span>
                            </a>
                        </li>
                        
                        <li>
                            <i class="bx bx-location-plus"></i>
                            <span>Head Office:</span> 
                            #255, 1st floor, 46th Cross Sangam Circle, 8th Block, Jayanagar, Bengaluru, Karnataka 560070
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-widget">
                    <h3>Services Link</h3>

                    <ul>
                        <li>
                            <a href="#">
                                <i class="bx bx-chevrons-right"></i>
                                Corporate Training
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bx-chevrons-right"></i>
                                Classroom Training
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bx-chevrons-right"></i>
                                Online Training
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bx-chevrons-right"></i>
                                Job Based Training
                            </a>
                        </li>
                      
                       
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-widget">
                    <h3>Support & Help</h3>

                    <ul>
            
                        <li>
                            <a href="#">
                                <i class="bx bx-chevrons-right"></i>
                                FAQ Questions
                            </a>
                        </li>
                    
                        <li>
                            <a href="#">
                                <i class="bx bx-chevrons-right"></i>
                                Counseling 
                            </a>
                        </li>
                      
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-widget">
                    <h3>Quick Links</h3>

                    <ul>
                        <li>
                            <a href="/about">
                                <i class="bx bx-chevrons-right"></i>
                                About us
                            </a>
                        </li>
                        <li>
                            <a href="/privacy-policies">
                                <i class="bx bx-chevrons-right"></i>
                                Policies
                            </a>
                        </li>
                        <li>
                            <a href="/terms-and-conditions">
                                <i class="bx bx-chevrons-right"></i>
                                Terms and Conditions
                            </a>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Top Area -->