<!-- Start Footer Bottom Area -->
<footer class="footer-bottom-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="copy-right">
                    <p>© SpidervellA Technologies Private Limited <a href="" target="_blank"> | ISO 9001:2015 CERTIFIED</a></p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="condition-privacy">
                    <ul>
                        <li>
                            <a href="/terms-conditions">Terms & Condition</a>
                        </li>
                        <li>
                            <a href="/privacy-policy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Bottom Area -->