{% load static %}
    <!-- Start Client Area -->
    <section class="client-area ptb-100">
        <div class="container">
            <div class="section-title white-title">
                <h2>What students Say About Us</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus quam neque quibusdam corrupti aspernatur corporis alias nisi dolorum expedita veritatis voluptates minima.</p>
            </div>

            <div class="client-wrap owl-carousel owl-theme">
                <div class="single-client">
                    <i class="quotes bx bxs-quote-alt-left"></i>
                    <p>SpidervellA is One of the Best Place to grow your IT Career. Beacause they have Experienced Coaching Staffs and Supportive Members to inbuild our career.</p>

                    <ul>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                    </ul>

                    <div class="client-img">
                        <img src="{% static 'assets/img/client-img/1.webp' %}" height="20 px" alt="Image">
                      
                        <h3>Vivek</h3>
                        <span>Cyber Security Analyst</span>
                    </div>
                </div>

                <div class="single-client">
                    <i class="quotes bx bxs-quote-alt-left"></i>
                    <p>Learnt all the information that we can and gained knowledge in Web. A very good institution to learn on your Interst courses</p>

                    <ul>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                    </ul>

                    <div class="client-img">
                        <img src="{% static 'assets/img/client-img/2.webp' %}" alt="Image">
                        <h3>PRIYANKA</h3>
                        <span>Web Developer</span>
                    </div>
                </div>

                <div class="single-client">
                    <i class="quotes bx bxs-quote-alt-left"></i>
                    <p>I had a great time doing this course. I have been recommending you to everyone I know. Thank you for all the assistance and feedback, it has been delightful and very gratifying.
                    </p>
                    <ul>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                    </ul>

                    <div class="client-img">
                        <img src="{% static 'assets/img/client-img/4.webp' %}" alt="Image">
                        <h3>LOGENDHER</h3>
                        <span>IT Specialist</span>
                    </div>
                </div>

                <div class="single-client">
                    <i class="quotes bx bxs-quote-alt-left"></i>
                    <p>Good atmosphere , friendly and experienced faculty , great platform to learn</p>
          
                    <ul>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                    </ul>
                    
                    <div class="client-img">
                        <img src="{% static 'assets/img/client-img/3.webp' %}" alt="Image">
                        <h3>DARSHAN</h3>
                        <span>IoT & Web Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Client Area -->