		<!-- Start Banner Area -->
		<section class="banner-area banner-item-bg-1 jarallax">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-9">
						<div class="banner-text">
							<span class="wow animate__animated animate__fadeInDown" data-wow-delay="1s">All Research up to Blockchain Interoperability is completed</span>
							<h1 class="wow animate__animated animate__fadeInLeft" data-wow-delay="1s">Modern Information Protect from Hackers</h1>
							<p class="wow animate__animated animate__fadeInRight" data-wow-delay="1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil architecto laborum eaque! Deserunt maxime, minus quas molestiae reiciendis esse natus nisi iure.</p>

							<div class="banner-btn wow fadeInUp" data-wow-delay="1s">
								<a class="default-btn" href="pricing.html">
									Booking Now
								</a>
								<a class="default-btn active" href="about.html">
									About Us
								</a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3">
						<div class="video-btn-animat one wow zoomIn" data-wow-delay="1s">
							<a href="https://www.youtube.com/watch?v=sdpxddDzXfE" class="video-btn popup-youtube">
								<i class="bx bx-play"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="container pt-100">
				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<div class="single-features">
							<h3><i class="bx bx-check-shield"></i> Security</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							<span class="bx bx-check-shield"></span>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6">
						<div class="single-features">
							<h3><i class="bx bx-lock"></i> Privacy</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							<span class="bx bx-lock"></span>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
						<div class="single-features mb-0">
							<h3><i class="bx bx-certification"></i> Industry Certified</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							<span class="bx bx-certification"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="lines">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		</section>
		<!-- End Banner Area -->