{% load static %}


<!-- Strat Blog Area -->
<section class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Latest News From Blog</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus quam neque quibusdam corrupti aspernatur corporis alias nisi dolorum expedita veritatis voluptates minima.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-blog">
                    <img src="{% static 'assets/img/blog/1.jpg' %}" alt="Image">

                    <div class="blog-content">
                        <h3>
                            <a href="blog-details.html">Secure Managed IT</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolorer</p>
                        <a href="blog-details.html" class="read-more">
                            Read More
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-blog">
                    <img src="{% static 'assets/img/blog/2.jpg' %}" alt="Image">

                    <div class="blog-content">
                        <h3>
                            <a href="blog-details.html">Cloud Security</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolorer</p>
                        <a href="blog-details.html" class="read-more">
                            Read More
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                <div class="single-blog">
                    <img src="{% static 'assets/img/blog/3.jpg' %}" alt="Image">

                    <div class="blog-content">
                        <h3>
                            <a href="blog-details.html">Secure Managed Web</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolorer</p>
                        <a href="blog-details.html" class="read-more">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->