{% load static %}
<!-- Start Partner Area -->
<div class="partner-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="partner-wrap owl-carousel owl-theme">
                <div class="partner-item">
                    <img src="{% static 'assets/img/partner-logo/client1.png' %}" alt="Image">
                    <a class="partner-overly" href="#">
                        <img src="{% static 'assets/img/partner-logo/client1.png' %}" alt="Image">
                    </a>
                </div>

                <div class="partner-item">
                    <img src="{% static 'assets/img/partner-logo/client2.png' %}" alt="Image">
                    <a class="partner-overly" href="#">
                        <img src="{% static 'assets/img/partner-logo/client2.png' %}" alt="Image">
                    </a>
                </div>

                <div class="partner-item">
                    <img src="{% static 'assets/img/partner-logo/client3.png' %}" alt="Image">
                    <a class="partner-overly" href="#">
                        <img src="{% static 'assets/img/partner-logo/client3.png' %}" alt="Image">
                    </a>
                </div>
                
                <div class="partner-item">
                    <img src="{% static 'assets/img/partner-logo/client4.png' %}" alt="Image">
                    <a class="partner-overly" href="#">
                        <img src="{% static 'assets/img/partner-logo/client4.png' %}" alt="Image">
                    </a>
                </div>

                <div class="partner-item">
                    <img src="{% static 'assets/img/partner-logo/client5.png' %}" alt="Image">
                    <a class="partner-overly" href="#">
                        <img src="{% static 'assets/img/partner-logo/client5.png' %}" alt="Image">
                    </a>
                </div>

                <div class="partner-item">
                    <img src="{% static 'assets/img/partner-logo/client6.png' %}" alt="Image">
                    <a class="partner-overly" href="#">
                        <img src="{% static 'assets/img/partner-logo/client6.png' %}" alt="Image">
                    </a>
                </div>

                <div class="partner-item">
                    <img src="{% static 'assets/img/partner-logo/client7.png' %}" alt="Image">
                    <a class="partner-overly" href="#">
                        <img src="{% static 'assets/img/partner-logo/client7.png' %}" alt="Image">
                    </a>
                </div>

                <div class="partner-item">
                    <img src="{% static 'assets/img/partner-logo/client8.png' %}" alt="Image">
                    <a class="partner-overly" href="#">
                        <img src="{% static 'assets/img/partner-logo/client8.png' %}" alt="Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Partner Area -->