{% load static %}
        <!-- Start New Main Banner Area -->
		<section class="new-main-banner-area-with-black-color">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-lg-8 col-md-12">
						<div class="new-main-banner-black-image">
							<img src="{% static 'assets/img/program-title/scsp-title.png' %}" alt="image">
						</div>
					</div>
					<div class="col-lg-4 col-md-12">
                            {% include "sections/request_call.html" %}
						
					</div>
				</div>
			</div>

			<div class="new-main-banner-black-shape">
				<img src="{% static 'assets/img/program-title-bg/scsp-title-bg.png' %}" alt="image">
			</div>
		</section>
		<!-- End New Main Banner Area -->
		
		<!-- Start Seku Features Area -->
		<div class="seku-features-area pb-75">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-4 col-sm-6">
						<div class="single-seku-features-card bg-382549">
							<h3><img src="{% static 'assets/img/more-home/features/features-1.png' %}" alt="image"> Security</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
						</div>
					</div>
	
					<div class="col-lg-4 col-sm-6">
						<div class="single-seku-features-card bg-382549">
							<h3><img src="{% static 'assets/img/more-home/features/features-2.png' %}" alt="image"> Privacy</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
						</div>
					</div>
	
					<div class="col-lg-4 col-sm-6">
						<div class="single-seku-features-card bg-382549">
							<h3><img src="{% static 'assets/img/more-home/features/features-3.png' %}" alt="image"> Industry Certified</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Seku Features Area -->

        
							

		
		<!-- Start Safer World Area -->
		<div class="safer-world-area-without-color">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12">
						<div class="safer-world-image">
							<img src="{% static 'assets/img/more-home/safer-world/safer-world-2.png' %}" alt="image">
						</div>
					</div>
                    

					<div class="col-lg-6 col-md-12">
						<div class="safer-world-content white-color-content">
							<h3>We create a safer Virtual World For Your future</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Adipiscing eleifend dictum potenti mattis viverra. Eget quam lacus enim porttitor bibendum elit dui nisl.</p>

							<div class="row justify-content-center">
								<div class="col-lg-6 col-md-6">
									<div class="safer-world-inner-box">
										<h4>Our Mission</h4>
										<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Adipisc ing eleifend dictum pot nti.</p>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="safer-world-inner-box">
										<h4>Our Mission</h4>
										<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Adipisc ing eleifend dictum pot nti.</p>
									</div>
								</div>
							</div>

							<div class="safer-world-btn">
								<a href="about.html" class="default-btn">Know More About Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Safer World Area -->
		
		<!-- Start Complete Website Security Area -->
		<div class="complete-website-security-area pt-100 pb-75">
			<div class="container">
				<div class="section-title">
					<h2>You Get Complete Website Security From Us</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Adipiscing eleifend dictum potenti mattis viverra eget quam lacus enim porttitor bibendum elit dui nisl.</p>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-3 col-sm-6">
						<div class="complete-website-security-card mb-25">
							<div class="icon">
								<i class="flaticon-bug"></i>
							</div>
							<h3>
								<a href="services-details.html">Malware Detection Removal</a>
							</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit adiing eleifend dictum pot nti.</p>
							<div class="security-shape">
								<img src="{% static 'assets/img/more-home/website-security/security-shape-2.png' %}" alt="image">
							</div>
						</div>	
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="complete-website-security-card mb-25">
							<div class="icon">
								<i class="flaticon-content"></i>
							</div>
							<h3>
								<a href="services-details.html">Content Delivery Network</a>
							</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit adiing eleifend dictum pot nti.</p>
							<div class="security-shape">
								<img src="{% static 'assets/img/more-home/website-security/security-shape-2.png' %}" alt="image">
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="complete-website-security-card mb-25">
							<div class="icon">
								<i class="flaticon-support"></i>
							</div>
							<h3>
								<a href="services-details.html">24/7 Cyber Security Support</a>
							</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit adiing eleifend dictum pot nti.</p>
							<div class="security-shape">
								<img src="{% static 'assets/img/more-home/website-security/security-shape-2.png' %}" alt="image">
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="complete-website-security-card mb-25">
							<div class="icon">
								<i class="flaticon-profile"></i>
							</div>
							<h3>
								<a href="services-details.html">Managed Web Application</a>
							</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit adiing eleifend dictum pot nti.</p>
							<div class="security-shape">
								<img src="{% static 'assets/img/more-home/website-security/security-shape-2.png' %}" alt="image">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="website-security-shape">
				<img src="{% static 'assets/img/more-home/website-security/security-shape-1.png' %}" alt="image">
			</div>
		</div>
		<!-- End Complete Website Security Area -->

		<!-- Start Cyber Defenses Area -->
		<div class="cyber-defenses-area pb-100">
            <div class="container">
                <div class="section-title">
                    <h2>Expert Support To Enhance Your Cyber Defenses</h2>
                </div>

                <div class="cyber-defenses-list-tabs">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="banking-tab" data-bs-toggle="tab" href="#banking" role="tab" aria-controls="banking">What you will learn?</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="manufacturing-tab" data-bs-toggle="tab" href="#manufacturing" role="tab" aria-controls="manufacturing">Training Options</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="oil-and-gas-tab" data-bs-toggle="tab" href="#oil-and-gas" role="tab" aria-controls="oil-and-gas">Benifits</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="insurance-tab" data-bs-toggle="tab" href="#insurance" role="tab" aria-controls="insurance">Who it is for?</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="health-care-tab" data-bs-toggle="tab" href="#health-care" role="tab" aria-controls="health-care">Brochure</a>
                        </li>
                    </ul>
                    
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="banking" role="tabpanel">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-12">
                                    <div class="cyber-defenses-content">
                                        <h3>Banking Security</h3>
                                        <p>Lorem ipsum dolor sit amet consecte adipi scing elit adipiscing eleifend dictum poteder mattis viverra lorem ipsum dolor sit amet consecte adipisci ng elit adipiscingdiper eleifend dictum potenti mattis viverra.</p>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="cyber-list">
                                                    <li><i class="bx bx-check"></i> Focus on The Basics</li>
                                                    <li><i class="bx bx-check"></i> Educate Customers</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="cyber-list">
                                                    <li><i class="bx bx-check"></i> Be Proactive</li>
                                                    <li><i class="bx bx-check"></i> Tighten Internal Controls</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet consecte adipi scing elit adipiscing eleifend dictum poteder mattis viverra lorem ipsum dolor sit amet consecte adipisci ng elit adipiscingdiper eleifend dictum potenti mattis viverra.</p>
                                        <div class="cyber-btn">
                                            <a href="contact.html" class="default-btn">Get Started Now</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <div class="cyber-defenses-image">
                                        <img src="{% static 'assets/img/more-home/cyber-defenses/cyber-defenses-1.png' %}" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="manufacturing" role="tabpanel">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-12">
                                    <div class="cyber-defenses-content">
                                        <h3>Manufacturing</h3>
                                        <p>Lorem ipsum dolor sit amet consecte adipi scing elit adipiscing eleifend dictum poteder mattis viverra lorem ipsum dolor sit amet consecte adipisci ng elit adipiscingdiper eleifend dictum potenti mattis viverra.</p>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="cyber-list">
                                                    <li><i class="bx bx-check"></i> Focus on The Basics</li>
                                                    <li><i class="bx bx-check"></i> Educate Customers</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="cyber-list">
                                                    <li><i class="bx bx-check"></i> Be Proactive</li>
                                                    <li><i class="bx bx-check"></i> Tighten Internal Controls</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet consecte adipi scing elit adipiscing eleifend dictum poteder mattis viverra lorem ipsum dolor sit amet consecte adipisci ng elit adipiscingdiper eleifend dictum potenti mattis viverra.</p>
                                        <div class="cyber-btn">
                                            <a href="contact.html" class="default-btn">Get Started Now</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <div class="cyber-defenses-image">
                                        <img src="{% static 'assets/img/more-home/cyber-defenses/cyber-defenses-2.jpg' %}" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="oil-and-gas" role="tabpanel">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-12">
                                    <div class="cyber-defenses-content">
                                        <h3>Oil & Gas</h3>
                                        <p>Lorem ipsum dolor sit amet consecte adipi scing elit adipiscing eleifend dictum poteder mattis viverra lorem ipsum dolor sit amet consecte adipisci ng elit adipiscingdiper eleifend dictum potenti mattis viverra.</p>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="cyber-list">
                                                    <li><i class="bx bx-check"></i> Focus on The Basics</li>
                                                    <li><i class="bx bx-check"></i> Educate Customers</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="cyber-list">
                                                    <li><i class="bx bx-check"></i> Be Proactive</li>
                                                    <li><i class="bx bx-check"></i> Tighten Internal Controls</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet consecte adipi scing elit adipiscing eleifend dictum poteder mattis viverra lorem ipsum dolor sit amet consecte adipisci ng elit adipiscingdiper eleifend dictum potenti mattis viverra.</p>
                                        <div class="cyber-btn">
                                            <a href="contact.html" class="default-btn">Get Started Now</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <div class="cyber-defenses-image">
                                        <img src="{% static 'assets/img/more-home/cyber-defenses/cyber-defenses-3.jpg' %}" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="insurance" role="tabpanel">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-12">
                                    <div class="cyber-defenses-content">
                                        <h3>Insurance</h3>
                                        <p>Lorem ipsum dolor sit amet consecte adipi scing elit adipiscing eleifend dictum poteder mattis viverra lorem ipsum dolor sit amet consecte adipisci ng elit adipiscingdiper eleifend dictum potenti mattis viverra.</p>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="cyber-list">
                                                    <li><i class="bx bx-check"></i> Focus on The Basics</li>
                                                    <li><i class="bx bx-check"></i> Educate Customers</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="cyber-list">
                                                    <li><i class="bx bx-check"></i> Be Proactive</li>
                                                    <li><i class="bx bx-check"></i> Tighten Internal Controls</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet consecte adipi scing elit adipiscing eleifend dictum poteder mattis viverra lorem ipsum dolor sit amet consecte adipisci ng elit adipiscingdiper eleifend dictum potenti mattis viverra.</p>
                                        <div class="cyber-btn">
                                            <a href="contact.html" class="default-btn">Get Started Now</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <div class="cyber-defenses-image">
                                        <img src="{% static 'assets/img/more-home/cyber-defenses/cyber-defenses-4.jpg' %}" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="health-care" role="tabpanel">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-12">
                                    <div class="cyber-defenses-content">
                                        <h3>Health Care</h3>
                                        <p>Lorem ipsum dolor sit amet consecte adipi scing elit adipiscing eleifend dictum poteder mattis viverra lorem ipsum dolor sit amet consecte adipisci ng elit adipiscingdiper eleifend dictum potenti mattis viverra.</p>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="cyber-list">
                                                    <li><i class="bx bx-check"></i> Focus on The Basics</li>
                                                    <li><i class="bx bx-check"></i> Educate Customers</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="cyber-list">
                                                    <li><i class="bx bx-check"></i> Be Proactive</li>
                                                    <li><i class="bx bx-check"></i> Tighten Internal Controls</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet consecte adipi scing elit adipiscing eleifend dictum poteder mattis viverra lorem ipsum dolor sit amet consecte adipisci ng elit adipiscingdiper eleifend dictum potenti mattis viverra.</p>
                                        <div class="cyber-btn">
                                            <a href="contact.html" class="default-btn">Get Started Now</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <div class="cyber-defenses-image">
                                        <img src="{% static 'assets/img/more-home/cyber-defenses/cyber-defenses-5.jpg' %}" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cyber-defenses-shape">
                <img src="{% static 'assets/img/more-home/cyber-defenses/cyber-defenses-shape.png' %}" alt="image">
            </div>
        </div>
        <!-- End Cyber Defenses Area -->

		<!-- Start Operation Center Area -->
		<div class="operation-center-area pb-100">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12">
						<div class="operation-center-image">
							<img src="{% static 'assets/img/more-home/operation-center/operation-center.jpg' %}" alt="image">
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="operation-center-content white-color-content">
							<h3>Career with Cyber Securty (SCSP)</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit adipiscing eleifend dictum potenti mattis viverra eget quam lacus enim porttitor bibendum elit dui nisl.</p>

							<div class="row">
								<div class="col-lg-6 col-md-6">
                                    <ul class="operation-list">
                                        <li>
                                            <span><i class='bx bx-check'></i> Managed Web Application</span>
                                        </li>
                                        <li>
                                            <span><i class='bx bx-check'></i> SIEM Threat Detection</span>
                                        </li>
                                        <li>
                                            <span><i class='bx bx-check'></i> Content Delivery Network</span>
                                        </li>
                                        <li>
                                            <span><i class='bx bx-check'></i> 24/7 Hours Services</span>
                                        </li>
                                        <li>
                                            <span><i class='bx bx-check'></i> Security Management</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <ul class="operation-list">
                                        <li>
                                            <span><i class='bx bx-check'></i> Instant Malware Removal</span>
                                        </li>
                                        <li>
                                            <span><i class='bx bx-check'></i> Free Delivary Services</span>
                                        </li>
                                        <li>
                                            <span><i class='bx bx-check'></i> Website Hack Repair</span>
                                        </li>
                                        <li>
                                            <span><i class='bx bx-check'></i> Website Security Services</span>
                                        </li>
                                        <li>
                                            <span><i class='bx bx-check'></i> Provide Security Services</span>
                                        </li>
                                    </ul>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Operation Center Area -->