
		<!-- Start programs Area -->
		<section class="solutions-area ptb-100">
			<div class="container">
				<div class="section-title">
					<h2>Certified Training Programs</h2>
					<p>Choose the program best suits for your career growth.</p>
				</div>

				<div class="row">
					<div class="col-lg-3">
						<div class="single-solutions solutions-time-bg-1">
							<div class="solutions-content">
								<a href="/program-details">
								<h3>Cyber Security (SCSP)</h3>
								
									
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="single-solutions solutions-time-bg-2">
							<div class="solutions-content">
								<a href="/program-details">
								<h3>Internet of Things</h3>
									
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="single-solutions solutions-time-bg-3">
							<div class="solutions-content">
								<a href="/program-details">
								<h3>Master FullStack Python</h3>
									
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="single-solutions solutions-time-bg-4">
							<div class="solutions-content">
								<a href="/program-details">
								<h3>Master FullStack Java </h3>
									
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="single-solutions solutions-time-bg-5">
							<div class="solutions-content">
								<a href="/program-details">
								<h3>Cloud Computing (AWS)</h3>
									
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="single-solutions solutions-time-bg-6">
							<div class="solutions-content">
								<a href="/program-details">
								<h3>Master DevOps</h3>
									
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="single-solutions solutions-time-bg-7">
							<div class="solutions-content">
								<a href="/program-details">
								<h3>Data Center (DCSA)</h3>
									
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="single-solutions solutions-time-bg-8">
							<div class="solutions-content">
								<a href="/program-details">
								<h3> Ethical Hacking and Information Security</h3>
									
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="single-solutions solutions-time-bg-9">
							<div class="solutions-content">
								<a href="/program-details">
								<h3>Data Science & Analytics</h3>
									
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="single-solutions solutions-time-bg-10">
							<div class="solutions-content">
								<a href="/program-details">
								<h3>Machine Learning</h3>
									
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="single-solutions solutions-time-bg-11">
							<div class="solutions-content">
								<a href="/program-details">
								<h3>HackersvellA</h3>
									
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="single-solutions solutions-time-bg-12">
							<div class="solutions-content">
								<a href="/program-details">
								<h3>HackersvellA for Professional</h3>
									
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="single-solutions solutions-time-bg-13">
							<div class="solutions-content">
								<a href="/program-details">
								<h3>Hardware and Networking</h3>
									
								</a>
							</div>
						</div>
					</div>


				</div>
			</div>
		</section>
		<!-- End programs Area -->