	<!-- Start Checkout Area -->
    <section class="checkout-area ptb-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="user-actions">
                        <span>Become certified Cyber security expert</span>
                    </div>
                </div>
            </div>

            <form>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="billing-details">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                       
                                        <input type="text" class="form-control" placeholder="First Name">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        
                                        <input type="text" class="form-control" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <div class="select-box">
                                            <select class="form-control">
                                                <option value="5">United Arab Emirates</option>
                                                <option value="1">China</option>
                                                <option value="2">United Kingdom</option>
                                                <option value="0">Germany</option>
                                                <option value="3">France</option>
                                                <option value="4">Japan</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <div class="select-box">
                                            <label>What are you intrested in ? <span class="required">*</span></label>
                                            <select class="form-control">
                                                <option value="5">Select Training program</option>
                                                <option value="1">China</option>
                                                <option value="2">United Kingdom</option>
                                                <option value="0">Germany</option>
                                                <option value="3">France</option>
                                                <option value="4">Japan</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-12 col-md-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="create-an-account">
                                        <label class="form-check-label" for="create-an-account"> I agree to the Terms of Use and Privacy Policy*</label>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <label>How can we help you? <span class="required">*</span></label>
                                    <div class="form-group">
                                        <textarea name="notes" id="notes" cols="30" rows="5" placeholder="Order Notes" class="form-control"></textarea>
                                    </div>
                                </div>

                                <a href="#" class="default-btn">
                                    Submit
                                </a>
                            </div>
                        </div>
                    </div>

              
                </div>
            </form>
        </div>
    </section>
    <!-- End Checkout Area -->